<tr data-id="<%=track.id%>">
  <td data-name="title" class="track-info"><%= track.title %></td>
  <td data-name="artist" class="track-info"><%= track.artist %></td>
  <td data-name="album" class="track-info"><%= track.album %></td>
  <td data-name="genre" class="track-info"><%= track.genre %></td>
</tr>
